body{
    background-color: black;
    color: white;
}

#title{
    text-align: center;
    font-style: italic;
    font-family:sans-serif;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#Dubai{
    margin-top: 100px;
    margin-bottom: 100px;
    border-top: 1px dashed white ;
    border-bottom: 1px dashed white;
}

#LosAngeles{
    margin-bottom: 100px;
    border-top: 1px dashed white ;
    border-bottom: 1px dashed white;
}

#Rio{
    margin-bottom: 100px;
    border-top: 1px dashed white ;
    border-bottom: 1px dashed white;
}

#Paris{
    margin-bottom: 100px;
    border-top: 1px dashed white ;
    border-bottom: 1px dashed white;
}

#Moscow{
    margin-bottom: 100px;
    border-top: 1px dashed white ;
    border-bottom: 1px dashed white;
}

#footer{
    text-align: center;
    grid-row: auto;
}

.text{
    text-align: end;
}

.img{
    align-items: start;
}

.button{
    align-items: end;
    background-color: #001f18;
    color: white;
    border-radius: 5px;
    border: #001f18;
    height: 25px;
    width: 70px;
    margin: 10px;
    animation: ;

}